html {
  height: 100%;
  width: 100%;
  background: #00BCD4;
}
body {
  height: 100%;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nice-button.red {
  background-color: rgb(248, 141, 141);
  border: 1px #F0887E solid;
  box-shadow: 0px 7px 0px rgb(209, 118, 118), 0px 7px 15px rgba(0,0,0,0.4);
}
.nice-button {
  background-color: rgb(142, 209, 116);
  user-select: none;
  -webkit-user-select: none;
  padding: 10px 44px;
  width: 70px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-size: 21px;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 10px;
  border: 1px #48C227 solid;
  box-shadow: 0px 7px 0px rgb(109, 179, 99), 0px 7px 15px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}
.nice-button:active {
  box-shadow: 0px 4px 0px rgb(109, 179, 99), 0px 7px 10px rgba(0,0,0,0.4);
  margin-top: 3px;
}
.nice-button:hover {
        /* Optional */
}
